/*
.drop_area {
  width: 100%;
  height: 100px;
  columns: #dcdcdc;
  border: 1px dashed #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.hide_drop {
  opacity: 0;
}
*/

.drop_area {
  background: linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
  background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  cursor: pointer;
  padding: 15px;
  margin: 15px auto;
  width: 80%;
  animation: linearGradientMove 0.3s infinite linear;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

@keyframes linearGradientMove {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

.hide_drop {
  opacity: 0;
}
